<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script th:fragment="file-item" type="text/html" id="tpl-file-item">
    <span class="file-item" id="file-[seq]">
       <a th:href="@{/api/file/download/[seq]}">[fileName]</a>
        <i class="insert-editor xi-upload" data-url="[fileUrl]"></i>
        <i class="remove xi-close" data-seq="[seq]"></i>
    </span>
</script>

<script th:fragment="image-item" type="text/html" id="tpl-image-item">
    <div class="image-item" id="file-[seq]">
        <i class="remove xi-close" data-seq="[seq]"></i>
        <div class="inner show-image" style="background:url('[thumbUrl]') no-repeat center center;background-size: cover;" data-seq="[seq]"></div>
    </div>
</script>
</html>