<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" th:if="${keywords != null}" th:content="${keywords}">
        <meta name="description" th:if="${description != null}" th:content="${description}">
        <meta name="_csrf" th:content="${_csrf.token}">
        <meta name="_csrf_header" th:content="${_csrf.headerName}">
        <meta name="rootUrl" th:content="@{/}">

        <title th:if="${pageTitle != null}" th:text="${pageTitle}"></title>

        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
        <link rel="stylesheet" type="text/css" th:href="@{/common/css/style.css}">

        <th:block th:if="${addCommonCss != null}">
            <link rel="stylesheet" type="text/css"
                  th:each="cssPath : ${addCommonCss}" th:href="@{/common/css/{path}.css(path=${cssPath})}">
        </th:block>

        <link rel="stylesheet" type="text/css" th:href="@{/admin/css/style.css}">

        <th:block th:if="${addCss != null}">
        <link rel="stylesheet" type="text/css" th:each="cssPath : ${addCss}"
              th:href="@{/admin/css/{path}.css(path=${cssPath})}">
        </th:block>

        <script th:src="@{/common/js/common.js}"></script>

        <th:block th:if="${addCommonScript != null}">
            <script th:each="jsPath : ${addCommonScript}"
                    th:src="@{/common/js/{path}.js(path=${jsPath})}"></script>
        </th:block>

        <script th:src="@{/admin/js/common.js}"></script>

        <th:block th:if="${addScript != null}">
            <script th:each="jsPath : ${addScript}"
                    th:src="@{/admin/js/{path}.js(path=${jsPath})}"></script>
        </th:block>

    </head>
    <body>
        <header th:replace="~{admin/outlines/_header::common}"></header>

        <main>
            <aside th:replace="~{admin/outlines/_menu::main}"></aside>
            <section>
                <nav th:replace="~{admin/outlines/_submenu::sub}"></nav>
                <div layout:fragment="content" class="main-content"></div>
            </section>
        </main>
        <th:block th:replace="~{common/_session_message::message}"></th:block>
        <iframe name="ifrmProcess" class="dn"></iframe>
    </body>
</html>