<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" th:if="${keywords != null}" th:content="${keywords}">
        <meta name="description" th:if="${description != null}" th:content="${description}">
        <title th:if="${pageTitle != null}" th:text="${pageTitle}"></title>

    </head>
    <body>
        <header th:replace="~{front/outlines/_header::common}"></header>

        <main layout:fragment="content"></main>

        <footer th:replace="~{front/outlines/_footer::common}"></footer>
    </body>
</html>