<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/mypage}">
<section layout:fragment="content">
    <h1 th:text="#{쪽지함}"></h1>

    <a th:href="@{/message}" th:text="#{쪽지_보내기}"></a>

    <form name="frmSearch" method="GET" th:action="@{/message/list}" autocomplete="off" th:object="${messageSearch}">

        <div class="search-box">
            <select name="sopt" th:field="*{sopt}">
                <option value="SUBJECT" th:text="#{제목}"></option>
                <option value="ALL" th:text="#{제목+내용}"></option>
            </select>
            <input type="text" name="skey" th:field="*{skey}" th:placeholder="#{검색어를_입력하세요.}">
            <button type="submit" th:text="#{조회하기}"></button>
        </div>


        <div class="tab-group">
            <label class="tab">
                <input type="radio" name="mode" value="receive" th:field="*{mode}" onclick="frmSearch.submit()">
                <th:block th:text="#{받은_쪽지}"></th:block>
            </label>
            <label class="tab">
                <input type="radio" name="mode" value="send" th:field="*{mode}" onclick="frmSearch.submit()">
                <th:block th:text="#{보낸_쪽지}"></th:block>
            </label>
        </div>
    </form>

    <ul class="items">
        <li th:if="${items != null && !items.isEmpty()}" class="item" th:each="item : ${items}" th:object="${item}">
            <a th:href="@{/message/view/{seq}(seq=*{seq})}" class="subject">
                <span class="badge notice" th:if="*{notice}" th:text="#{공지}"></span>
                <span class="badge" th:unless="*{notice}" th:text="*{#messages.msg(status)}"></span>
                <th:block th:text="*{subject}"></th:block>
            </a>
            <div class="info">
                <span class="sender" th:text="*{#strings.concat(sender.name, '(', sender.email, ')')}"></span>
                <span class="date" th:text="*{#temporals.format(createdAt, 'yy.MM.dd HH:mm')}"></span>
            </div>
        </li>
        <li th:unless="${items != null && !items.isEmpty()}" class="no-data" th:text="#{조회된_쪽지가_없습니다.}"></li>
    </ul>

    <th:block th:replace="~{common/_pagination::pagination}"></th:block>
</section>
</html>