<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
<form name="frmProfile" method="POST" th:action="@{/mypage/profile}" th:object="${requestProfile}" autocomplete="off">
    <input type="hidden" name="_method" value="PATCH">

    <button type="button" class='file-upload'
            data-image-only="true"
            data-single="true"
            th:data-gid="${profile.email}"
            data-location="profile"
            th:text="#{이미지_업로드}"></button>
</form>
</main>
</html>