<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <form name="frmPassword" method="POST" th:action="@{/board/password}" target="ifrmProcess" autocomplete="off">
        <div>
            <dl>
                <dt th:text="#{비밀번호}"></dt>
                <dd>
                    <input type="password" name="password">
                    <button type="submit" th:text="#{확인하기}"></button>
                </dd>
            </dl>
        </div>
    </form>
</main>
</html>