spring:
  # 레디스 설정
  data:
    redis:
      host: localhost
      port: 6379

  # 데이터 베이스 설정
  datasource:
    driverClassName: org.h2.Driver
    url: jdbc:h2:mem:test
    username: sa
    password:
  jpa:
    hibernate:
      ddlAuto: update

# 파일 업로드 경로
file:
  upload.path: D:/uploads/
  upload.url: /uploads/