<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <aside th:fragment="main">
        <a th:href="@{/admin/basic}" class="menu" th:classappend="${menuCode == 'basic'} ? 'on'">
            <i class="xi-cog"></i>
            기본설정
        </a>
        <a th:href="@{/admin/member}" class="menu" th:classappend="${menuCode == 'member'} ? 'on'">
            <i class="xi-users"></i>
            회원관리
        </a>
        <a th:href="@{/admin/board}" class="menu" th:classappend="${menuCode == 'board'} ? 'on'">
            <i class="xi-list"></i>
            게시판관리
        </a>
        <a th:href="@{/admin/product}" class="menu" th:classappend="${menuCode == 'product'} ? 'on'">
            <i class="xi-cart"></i>
            상품관리
        </a>
    </aside>
</html>