/* 회원가입, 로그인 공통 S */
main {
    background: #f7f7f7;
    padding: 120px 0 280px;
}
/* 회원가입, 로그인 공통 E */

/* 로그인 S */
.login-box {
    width: 470px;
    margin: 0 auto;
}

.login-logo {
    display: block;
    margin: 0 auto;
}

/* 로그인 E */