<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
<div layout:fragment="content">
    <h1>회원검색</h1>
    <form name="frmSearch" method="GET" th:action="@{/admin/member/list}" th:object="${memberSearch}" autocomplete="off">
        <table class="table-cols">
            <tr>
                <th width="180">날짜검색</th>
                <td>
                    <select name="dateType" th:field="*{dateType}">
                        <option value="createdAt">가입일</option>
                        <option value="credentialChangedAt">비밀번호 변경일</option>
                        <option value="deletedAt">탈퇴일</option>
                    </select>
                    <input type="date" name="sDate" th:field="*{sDate}">
                    <span class="error" th:each="err : ${#fields.errors('sDate')}" th:text="${err}"></span>
                    ~
                    <input type="date" name="eDate" th:field="*{eDate}">
                    <span class="error" th:each="err : ${#fields.errors('eDate')}" th:text="${err}"></span>
                </td>
            </tr>
            <tr>
                <th>회원권한</th>
                <td>
                    <th:block th:each="authority, status : ${authorities}">
                        <input type="checkbox" name="authority" th:value="${authority.name}" th:id="${'authority-' + status.index}" th:field="*{authority}">
                        <label th:for="${'authority-' + status.index}" th:text="${#messages.msg(authority.name)}"></label>
                    </th:block>
                </td>
            </tr>
        </table>
    </form>

    <h2>회원목록</h2>

    <th:block th:replace="~{common/_pagination::pagination}"></th:block>
</div>
</html>