/* 메인 배너 S */
.main-banner .banner {
    height: 768px;
}



.main-banner a {
    position: relative;
    display: block;
    height: 768px;
}

.main-banner .banner1 {
    background:url('../../images/main/main_banner1.jpg') no-repeat center center;
    background-size: cover;
}

.main-banner .banner2 {
    background:url('../../images/main/main_banner2.png') no-repeat center center;
    background-size: cover;
}

.main-banner .banner3 {
    background:url('../../images/main/main_banner3.png') no-repeat center center;
    background-size: cover;
}

@media screen and (max-width: 1000px) {
    .main-banner .banner, .main-banner a {
        height: 650px;
    }
}

@media screen and (max-width: 900px) {
    .main-banner .banner, .main-banner a {
            height: 600px;
        }
}

@media screen and (max-width: 700px) {
    .main-banner .banner, .main-banner a {
            height: 550px;
        }
}

.main-banner .more-button {
    position: absolute;
    width: 330px;
    height: 63px;
    bottom: 80px;
    left: calc(50% - 165px);
    border: 1px solid #000;
    background:rgba(0, 0, 0, 0.8);
    cursor: pointer;
    color: #fff;
    text-align: center;
    line-height: 61px;
    transform: skew(-20deg);
}

.main-banner .more-button::after {
    content: '';
    width: 10px;
    height: 20px;
    background:url('../../images/icon_more.png') no-repeat center center;
    position: absolute;
    right: 70px;
    top: calc(50% - 10px);
    transform: skew(20deg);
}

.main-banner .more-button > span {
    color: #fff;
    transform: skew(20deg);
    display: block;
    font-size: 1.62rem;
    font-weight: 700;
}

.main-banner .swiper-button-prev, .main-banner .swiper-button-next {
    width: 86px;
    height: 86px;
    opacity: 1;
    top: calc(50% - 43px);
}

.main-banner .swiper-button-prev {
    background: transparent url('../../images/prev.png') no-repeat center center;
    left: 50px;
}

.main-banner .swiper-button-prev::after, .main-banner .swiper-button-next::after {
    display: none;
}

.main-banner .swiper-button-next {
    background: transparent url('../../images/next.png') no-repeat center center;
    right: 50px;
}
/* 메인 배너 E */

/* 새로운 소식 S */
.latest-news {
    background:url('../../images/main/bg_pattern.jpg');
    padding: 100px 0 140px;
}

.latest-news .more-btn-wrap {
    text-align: center;
    padding-top: 40px;
}

.latest-news .more-btn {
    border-radius: 0;
    transform: skew(-20deg);
    display: inline-block;
    position: relative;
    background: linear-gradient(to right, #55bcb5, #85c083, #bec449, #f7c90e);
    border: 0;
    z-index: 2;
    outline: none;
    padding: 20px 125px;
    border-radius: 0;
    font-size: 1.615rem;
    font-weight: 700;
}
.latest-news .more-btn::before {
    content: '';
    position: absolute;
    left: 4px;
    top: 4px;
    width: 97%;
    height: 89%;
    background-color: #fff;
    z-index: 1;
}
.latest-news .more-btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 0;
    background: linear-gradient(to left, #55bcb5, #85c083, #bec449, #f7c90e);
    opacity: 0;
    transition: .4s;
}
.latest-news .more-btn p {
    position: relative;
    transform: skew(20deg);
    text-align: center;
    z-index: 2;
    padding: 0;
    margin: 0;
}

.latest-news .more-btn p::before {
    content: '';
    position: absolute;
    top: 50%;
    right: -70px;
    width: 10px;
    height: 20px;
    background-image: url('../../images/icon_more.png');
    transform: translateY(-50%);
}
/* 새로운 소식 E */

.main-tit {
   margin-bottom: 40px;
   font-size: 3.846rem;
   font-weight: 700;
   letter-spacing: -0.07em;
   text-align: center;
}