<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="common" th:object="${requestBoard}">
        <div class="error global" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>

        <h2>기본 설정</h2>
        <table class="table-cols mb30">
            <tr>
                <th width="180">게시판 아이디</th>
                <td th:if="*{mode == 'edit'}">
                    <input type="hidden" name="bid" th:field="*{bid}">
                    <th:block th:text="*{bid}"></th:block>
                </td>
                <td th:unless="*{mode == 'edit'}">
                    <input type="text" name="bid" th:field="*{bid}">
                    <div class="error" th:each="err : ${#fields.errors('bid')}" th:text="${err}"></div>
                </td>
            </tr>
            <tr>
                <th>게시판 이름</th>
                <td>
                    <input type="text" name="name" th:field="*{name}">
                    <div class="error" th:each="err : ${#fields.errors('name')}" th:text="${err}"></div>
                </td>
            </tr>
            <tr>
                <th>사용여부</th>
                <td>
                    <span class="radio">
                        <input type="radio" name="open" value="true" th:field="*{open}" id="open-true">
                        <label for="open-true">사용</label>
                    </span>
                    <span class="radio">
                        <input type="radio" name="open" value="false" th:field="*{open}" id="open-false">
                        <label for="open-false">미사용</label>
                    </span>
                </td>
            </tr>
            <tr>
                <th>1페이지 게시글 수</th>
                <td>
                    <input type="number" name="rowsPerPage" th:field="*{rowsPerPage}">
                </td>
            </tr>
            <tr>
                <th>페이지 링크수(front)</th>
                <td>
                    <input type="number" name="pageRanges" th:field="*{pageRanges}">
                </td>
            </tr>
            <tr>
                <th>페이지 링크수(Mobile)</th>
                <td>
                    <input type="number" name="pageRangesMobile" th:field="*{pageRangesMobile}">
                </td>
            </tr>
            <tr>
                <th>에디터 사용</th>
                <td>
                    <span class="radio">
                        <input type="radio" name="useEditor" value="true" id="useEditor-true" th:field="*{useEditor}">
                        <label for="useEditor-true">사용</label>
                    </span>
                    <span class="radio">
                        <input type="radio" name="useEditor" value="false" id="useEditor-false" th:field="*{useEditor}">
                        <label for="useEditor-false">미사용</label>
                    </span>
                </td>
            </tr>
            <tr>
                <th>에디터 이미지 첨부</th>
                <td>
                    <span class="radio">
                        <input type="radio" name="useEditorImage" value="true" id="useEditorImage-true" th:field="*{useEditorImage}">
                        <label for="useEditorImage-true">사용</label>
                    </span>
                    <span class="radio">
                        <input type="radio" name="useEditorImage" value="false" id="useEditorImage-false" th:field="*{useEditorImage}">
                        <label for="useEditorImage-false">미사용</label>
                    </span>
                </td>
            </tr>
            <tr>
                <th>파일 첨부</th>
                <td>
                    <span class="radio">
                        <input type="radio" name="useAttachFile" value="true" id="useAttachFile-true" th:field="*{useAttachFile}">
                        <label for="useAttachFile-true">사용</label>
                    </span>
                    <span class="radio">
                        <input type="radio" name="useAttachFile" value="false" id="useAttachFile-false" th:field="*{useAttachFile}">
                        <label for="useAttachFile-false">미사용</label>
                    </span>
                </td>
            </tr>
            <tr>
                <th>댓글 사용</th>
                <td>
                    <span class="radio">
                        <input type="radio" name="useComment" value="true" id="useComment-true" th:field="*{useComment}">
                        <label for="useComment-true">사용</label>
                    </span>
                    <span class="radio">
                        <input type="radio" name="useComment" value="false" id="useComment-false" th:field="*{useComment}">
                        <label for="useComment-false">미사용</label>
                    </span>
                </td>
            </tr>
            <tr>
                <th>글보기페이지 목록</th>
                <td>
                    <span class="radio">
                        <input type="radio" name="listUnderView" value="true" id="listUnderView-true" th:field="*{listUnderView}">
                        <label for="listUnderView-true">사용</label>
                    </span>
                    <span class="radio">
                        <input type="radio" name="listUnderView" value="false" id="listUnderView-false" th:field="*{listUnderView}">
                        <label for="listUnderView-false">미사용</label>
                    </span>
                </td>
            </tr>
            <tr>
                <th>글작성 후 이동</th>
                <td>
                    <span class="radio">
                        <input type="radio" name="locationAfterWriting" value="list" id="locationAfterWriting-list" th:field="*{locationAfterWriting}">
                        <label for="locationAfterWriting-list">글목록</label>
                    </span>
                    <span class="radio">
                        <input type="radio" name="locationAfterWriting" value="view" id="locationAfterWriting-view" th:field="*{locationAfterWriting}">
                        <label for="locationAfterWriting-view">글보기</label>
                    </span>
                </td>
            </tr>
            <tr>
                <th>게시판 스킨</th>
                <td>
                    <span class="radio">
                        <input type="radio" name="skin" value="default" th:field="*{skin}" id="skin-default">
                        <label for="skin-default">기본(default)</label>
                    </span>
                    <span class="radio">
                        <input type="radio" name="skin" value="gallery" th:field="*{skin}" id="skin-gallery">
                        <label for="skin-gallery">갤러리(gallery)</label>
                    </span>
                </td>
            </tr>
        </table>
        <h2>게시판 분류</h2>
        <table class="table-cols mb30">
            <tr>
                <th width="180">분류</th>
                <td>
                    <textarea name="category" th:field="*{category}" placeholder="분류 여러개는 엔터키를 눌러서 다음칸에 입력"></textarea>
                </td>
            </tr>
        </table>

        <h2>게시판 권한</h2>
        <table class="table-cols mb30">
            <tr>
                <th width="180">글목록 접근 권한</th>
                <td>
                    <span class="radio">
                        <input type="radio" name="listAuthority" value="ALL" id="listAuthority-ALL" th:field="*{listAuthority}">
                        <label for="listAuthority-ALL">비회원 + 회원 + 관리자</label>
                    </span>
                    <span class="radio">
                        <input type="radio" name="listAuthority" value="USER" id="listAuthority-USER" th:field="*{listAuthority}">
                        <label for="listAuthority-USER">회원 + 관리자</label>
                    </span>
                    <span class="radio">
                        <input type="radio" name="listAuthority" value="ADMIN" id="listAuthority-ADMIN" th:field="*{listAuthority}">
                        <label for="listAuthority-ADMIN">관리자</label>
                    </span>
                </td>
            </tr>
            <tr>
                <th width="180">글보기 접근 권한</th>
                <td>
                    <span class="radio">
                        <input type="radio" name="viewAuthority" value="ALL" id="viewAuthority-ALL" th:field="*{viewAuthority}">
                        <label for="viewAuthority-ALL">비회원 + 회원 + 관리자</label>
                    </span>
                    <span class="radio">
                        <input type="radio" name="viewAuthority" value="USER" id="viewAuthority-USER" th:field="*{viewAuthority}">
                        <label for="viewAuthority-USER">회원 + 관리자</label>
                    </span>
                    <span class="radio">
                        <input type="radio" name="viewAuthority" value="ADMIN" id="viewAuthority-ADMIN" th:field="*{viewAuthority}">
                        <label for="viewAuthority-ADMIN">관리자</label>
                    </span>
                </td>
            </tr>
            <tr>
                <th width="180">글쓰기 권한</th>
                <td>
                    <span class="radio">
                        <input type="radio" name="writeAuthority" value="ALL" id="writeAuthority-ALL" th:field="*{writeAuthority}">
                        <label for="writeAuthority-ALL">비회원 + 회원 + 관리자</label>
                    </span>
                    <span class="radio">
                        <input type="radio" name="writeAuthority" value="USER" id="writeAuthority-USER" th:field="*{writeAuthority}">
                        <label for="writeAuthority-USER">회원 + 관리자</label>
                    </span>
                    <span class="radio">
                        <input type="radio" name="writeAuthority" value="ADMIN" id="writeAuthority-ADMIN" th:field="*{writeAuthority}">
                        <label for="writeAuthority-ADMIN">관리자</label>
                    </span>
                </td>
            </tr>
            <tr>
                <th width="180">댓글 작성권한</th>
                <td>
                    <span class="radio">
                        <input type="radio" name="commentAuthority" value="ALL" id="commentAuthority-ALL" th:field="*{commentAuthority}">
                        <label for="commentAuthority-ALL">비회원 + 회원 + 관리자</label>
                    </span>
                    <span class="radio">
                        <input type="radio" name="commentAuthority" value="USER" id="commentAuthority-USER" th:field="*{commentAuthority}">
                        <label for="commentAuthority-USER">회원 + 관리자</label>
                    </span>
                    <span class="radio">
                        <input type="radio" name="commentAuthority" value="ADMIN" id="commentAuthority-ADMIN" th:field="*{commentAuthority}">
                        <label for="commentAuthority-ADMIN">관리자</label>
                    </span>
                </td>
            </tr>
        </table>
    </th:block>
</html>