@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* { font-family: "Noto Sans KR", sans-serif; box-sizing: border-box; outline: none; color: #000; }

/* 기본 스타일 초기화 S */
html { font-size: 13px; } /* 1rem - 13px */
body { margin: 0; }
a { text-decoration: none; }
ul, ol { list-style: none; }
ul, ol, dl, dt, dd { margin: 0; padding: 0; }
img { border: 0; }
/* 기본 스타일 초기화 E */

/* 공통 입력 항목 S */
input[type='text'],
input[type='number'],
input[type='password'],
input[type='email'],
input[type='date'],
select {
    border: 1px solid #f8f8f8;
    height: 40px;
    padding: 0 10px;
    border-radius: 3px;
    width: 100%;
}

select {
    padding: 0;
}

textarea {
    border: 1px solid #f8f8f8;
    min-height: 150px;
    padding: 10px;
    border-radius: 3px;
    resize: none;
    width: 100%;
}

/*  공통 입력 항목 E */

/* 테이블 공통 S */
.table-cols {
    border-spacing: 0;
    width: 100%;
}

.table-cols th {
    background: #e6e6e6;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}
.table-cols td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.table-cols tr:first-of-type th,
.table-cols tr:first-of-type td {
    border-top: 1px solid #ccc;
}
/* 테이블 공통 E */

/* 여백 공통 S */
.mb10 {
    margin-bottom: 10px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mb30 {
    margin-bottom: 30px !important;
}
/* 여백 공통 E */

/* 버튼 공통 S */
.btn {
    border: 2px solid #000;
    color: #000;
    background: #fff;
    cursor: pointer;
    height: 50px;
    font-size: 1.35rem;
    width: 100%;
    border-radius: 3px;
}

.btn.black {
    background: #000;
    color: #fff;
}

.button-group {
    display: flex;
    width: 550px;
    margin: 0 auto;
}

.button-group .btn {
    flex-grow: 1;
    width: 0;
}

.button-group .btn + .btn {
    margin-left: 5px;
}

.submit-btn {
    background: #000;
    color: #fff;
    min-width: 250px;
    height: 45px;
    border: 0;
    border-radius: 3px;
    display: block;
    margin: 20px auto;
    cursor: pointer;
    font-size: 1.25rem;
}
/* 버튼 공통 E */

/* 라디오 버튼 공통 S */

input[type='radio'] {
    display: none;
}

input[type='radio']+label {
    padding: 0 20px 0 33px;
    height: 40px;
    line-height: 40px;
    background:url("../images/radio.png") no-repeat left center;
    display: inline-block;
    cursor: pointer;
}

input[type='radio']:checked + label {
    background:url("../images/radio_on.png") no-repeat left center;
}

/* 라디오 버튼 공통 E */

/* 체크박스 공통 S */
input[type='checkbox'] {
    display: none;
}

input[type='checkbox'] + label {
    background:url("../images/check.png") no-repeat left center;
    padding: 0 20px 0 33px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    cursor: pointer;
}

input[type='checkbox']:checked + label {
    background:url("../images/check_on.png") no-repeat left center;
}
/* 체크박스 공통 E */

/* 헤더 영역 S */
header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 45px;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #ccc;
}
/* 헤더 영역 E */

/* 내용 구조 영역 S */
main {
    display: flex;
    min-height: 900px;
}

/* 주메뉴 */
main > aside {
    width: 210px;
    background: #ccc;
}

main > aside .menu {
    display: block;
    height: 70px;
    border-bottom: 1px solid #7a7a7a;
    line-height: 69px;
    padding: 0 30px;
    font-size: 1.65rem;
}

main > aside .menu.on {
    color: #fff;
    background: #000;
}

main > aside .menu.on * {
    color: #fff;
}

main > section {
    padding: 45px;
    flex-grow: 1;
}

/* 부 메뉴 */
main > section > nav {
    display: flex;
    height: 55px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #7a7a7a;
    margin-bottom: 35px;
}
main > section > nav .menu {
    line-height: 55px;
    padding: 0 35px;
    font-size: 1.25rem;
}

main > section > nav .menu.on {
    background: #000;
    color: #fff;
}
/* 내용 구조 영역 E */

/* 제목 S */
h1 {
    margin: 0 10px 25px;
    padding-bottom: 10px;
    border-bottom: 2px solid #000;
    font-size: 1.75rem;
}

h2 {
    margin: 0 0 10px;
    font-size: 1.25rem;
}
/* 제목 E */

/* 세션 메세지 S */
.message-dialog {
    position: fixed;
    z-index: 10;
    background:#fff;
    box-shadow: 2px 2px 10px #8789f7;
    color: #8789f7;
    left: 255px;
    bottom: 100px;
    width: calc(100% - 300px);
    padding: 25px;
    text-align: center;
    font-size: 1.25rem;
    transition: all 1s;
    border-radius: 10px;
}
.message-dialog.fade {
    opacity: 0;
}
/* 세션 메세지 E */