@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* { font-family: "Noto Sans KR", sans-serif; box-sizing: border-box; outline: none; color: #000; }

/* 기본 스타일 초기화 S */
html { font-size: 13px; } /* 1rem - 13px */
body { margin: 0; }
a { text-decoration: none; }
ul, ol { list-style: none; }
ul, ol, dl, dt, dd { margin: 0; padding: 0; }
img { border: 0; }
/* 기본 스타일 초기화 E */

/* 헤더 영역 S */
header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 45px;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #ccc;
}
/* 헤더 영역 E */

/* 내용 구조 영역 S */
main {
    display: flex;
    min-height: 900px;
}

/* 주메뉴 */
main > aside {
    width: 210px;
    background: #ccc;
}

main > aside .menu {
    display: block;
    height: 70px;
    border-bottom: 1px solid #7a7a7a;
    line-height: 69px;
    padding: 0 30px;
    font-size: 1.65rem;
}

main > aside .menu.on {
    color: #fff;
    background: #000;
}

main > aside .menu.on * {
    color: #fff;
}

main > section {
    padding: 45px;
    flex-grow: 1;
}

/* 부 메뉴 */
main > section > nav {
    display: flex;
    height: 45px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #7a7a7a;
    margin-bottom: 35px;
}
/* 내용 구조 영역 E */