@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* { font-family: "Noto Sans KR", sans-serif; box-sizing: border-box; outline: none; color: #000; }

/* 기본 스타일 초기화 S */
html { font-size: 13px; } /* 1rem - 13px */
body { margin: 0; }
a { text-decoration: none; }
ul, ol { list-style: none; }
ul, ol, dl, dt, dd { margin: 0; padding: 0; }
img { border: 0; }
/* 기본 스타일 초기화 E */

/* 공통 스타일 S */
.layout-width { max-width: 1250px; min-width: 1100px; }

/* 공통 스타일 E */