@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* { font-family: "Noto Sans KR", sans-serif; box-sizing: border-box; outline: none; color: #000; }

/* 기본 스타일 초기화 S */
html { font-size: 13px; } /* 1rem - 13px */
body { margin: 0; }
a { text-decoration: none; }
ul, ol { list-style: none; }
ul, ol, dl, dt, dd { margin: 0; padding: 0; }
img { border: 0; }
/* 기본 스타일 초기화 E */

/* 공통 스타일 S */
.layout-width { max-width: 1250px; min-width: 1100px; }

/* 공통 스타일 E */

/* 사이트 상단 헤더 S */
header {
    display: flex;
    height: 120px;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.3);
}

header .main-menu { max-width: 835px; min-width: 450px; width: 100%; display: flex; }
header .main-menu > li { width: 0; flex-grow: 1; border-right: 1px solid #ebebeb; display: flex; align-items: center; justify-content: center; }
header .main-menu > li:first-of-type { border-left: 1px solid #ebebeb; }

header .main-menu > li a {
    font-size: 1.23rem;
    font-weight: 500;
}

header > .left { display: flex; flex-grow: 1; }
header > .left .logo { max-width: 350px; min-width: 250px; display: flex; align-items: center; justify-content: center; }

header > .right { width: 400px; }

/* 사이트 상단 헤더 E */